[submodule "ghostty"]
    path = ghostty
    url = https://github.com/KieranCanter/ghostty
[submodule "nvim"]
    path = nvim
    url = https://github.com/KieranCanter/nvim
[submodule "fastfetch"]
    path = fastfetch
    url = https://github.com/KieranCanter/fastfetch
